# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Chrome profile data
user_data/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Vercel output
.vercel

# Ignore any local env
.env
